# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
umya_spreadsheet_ex-*.tar

# Ignore test result files
/test/result_files/*

# Temporary files, for example, from tests.
/tmp/

# Ignore Rust native libraries
/priv/native/*

# MacOS Finder directory attributes
.DS_Store

# The checksum files for precompiled NIFs
checksum-*.exs
